
.red-text {
  color: red;
  font-family: monospace;
  font-size: 18px;
  font-weight: 500;
}


.green-text {
  color: green;
  font-family: monospace;
  font-size: 18px;
  font-weight: 500;
}

.pinkish-text {
  color: #F08080;
  font-family: monospace;
  font-size: 18px;
  font-weight: 500;
}

.mytext {
  text-decoration: underline red;
}

.larger {
  font-family: monospace;
  font-size: 17px;
}

easter:hover {
  background: rgb(200, 207, 91);
}

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.midd {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


/* base is not in use */
.base { 
  display: flex;
  /* flex-direcion: column; */
}
/* not in use */

.underline {
  text-decoration: underline black;
}